* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "OpenSans", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 4.5em;
    font-weight: 800;
}

/* Utils */
.button {
    /* DEBUG */
    background-color: lightgrey;
    padding: 5px 10px;
}


/* Header top */
.header-top {
    display: flex;
    align-items: center;
    padding: 30px 15px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header a {
    margin-right: 40px;
}

.personal-area a {
    margin-right: 20px;
}

/* Hero */
.hero {
    background-color: #b4d0e6;
    height: 750px;
    padding-top: 100px;
}

.hero-container {
    width: 60%;
    margin: 0 auto;
    /* DEBUG */
    background-color: violet;
}
