* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "OpenSans", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 4.5em;
    font-weight: 800;
}

h2 {
    margin-bottom: 50px;
}

input {
    margin-right: 5px;
}

span {
    display: inline-block;
}

/* Utils */
.button {
    /* DEBUG */
    background-color: lightgrey;
    padding: 5px 10px;
}


/* Header top */
.header-top {
    display: flex;
    align-items: center;
    padding: 30px 15px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header a {
    margin-right: 40px;
}

.personal-area a {
    margin-right: 20px;
}

/* Hero */
.hero {
    background-color: #b4d0e6;
    height: 750px;
    padding-top: 100px;
    margin-bottom: 200px;
}

.hero-container {
    width: 60%;
    margin: 0 auto;
    /* DEBUG */
    background-color: violet;
}

/* Main */
.main-container {
    width: 50%;
    margin: 0 auto;
}

.sub-period span {
    margin-right: 40px;
    font-size: 1em;
}

.top-row {
    display: flex;
    gap: calc(80px / 3);
    margin-top: 50px;
}

.top-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #d0cfd4;
    /* DEBUG */
    background-color: violet;
}

.top-card li {
    margin: 20px 0;
}

.type {
    padding: 40px 30px 0;
}

.type h3 {
    margin-bottom: 20px;
}

.period {
    margin: 10px 0 30px;
}

.use {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #d0cfd4;
}

.top-card .button {
    display: inline-block;
    margin: 30px 0;
}

.divider {
    height: 40px;
    width: 40px;
    border-bottom: 1px solid #d0cfd4;
    margin-bottom: 40px;
}

.bottom-row {
    margin-top: 25px;
}

.bottom-card {
    width: 100%;
    border: 1px solid #d0cfd4;
    /* DEBUG */
    background-color: violet;
}

.how-to-contact {
    display: flex;
}

.info {
    width: 70%;
    padding: 25px;
}

.btn-col {
    padding: 30px 45px;
}

.info h3 {
    margin: 0px 0 20px;
}

.info h5 {
    margin-bottom: 50px;
}

/* Partner */
.partner-row {
    display: flex;
    margin: 200px 0 100px;
}

.partner-img {
    width: 100%;
}

.partner-txt-box {
    width: 60%;
    padding: 40px;
}

/* Dropbox Business */
.dp-business-row {
    display: flex;
    gap: calc(80px / 3);
    margin: 50px 0;
}

.feature-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* DEBUG */
    background-color: violet;
}

.dp-business-row img {
    width: 100%;
}

/* Footer */